{
  "presets": ["es2015", "react", "env"],
    "plugins": [
        ["module-resolver", {
            "root": ["./config", "./src"],
            "extensions": [".js", ".json"]
        }],
        "transform-class-properties"
    ]
}
